/* Copyright (C) 2021-2022 Yumi Takanashi <yumidev00@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Text Font */

* {
    font:				 	"Iosevka 10";
}
